Repository Patternslib/Patterns, pull requests merged in 2020-05, with the labels that each got.

#716 Rework push message support
  CHANGES.md
  Makefile
  package.json
  push/.gitignore
  push/README.txt
  push/autobahn.min.js
  push/backend.html
  push/backend.js
  src/core/push_kit.js
  src/pat/inject/index.html
  src/pat/inject/inject.js
  src/patterns.js
  webpack/base.config.js
Labels: Core

#718 Fix initial load for transition: css
  src/pat/depends/depends.js
Labels: Pattern depends

#727 pat-scroll-box - new pattern out of scrolling-detection
  CHANGES.md
  src/core/scroll_detection.js
  src/pat/scroll-box/documentation.md
  src/pat/scroll-box/index.html
  src/pat/scroll-box/scroll-box.js
  src/patterns.js
  webpack/base.config.js
Labels: New Pattern
